.profile__image{
    width: 60px;
    border-radius: 50%;
}
.right__header {
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
}
.profile__modal {
    height: auto !important;
    position: absolute !important;
    top: 32px !important;
    width: 200px !important;
    right: 0;
    left: auto !important;
}
.profile__menu a{
    color: #000;
    text-decoration: none;
   
}
.profile__menu a:hover{
    color: var(--main-color);
}
.profile__menu i{
    color: var(--main-color);
}
.profile__menu li{
    padding: 5px 0;
}
.profile__menu{
    border: 0 !important;
    border-radius: 10px !important;
}