.main_nav{
    -webkit-box-shadow: 0px 4px 15px -11px  rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px -11px  rgba(0,0,0,0.75);
    box-shadow: 0px  4px 15px -11px  rgba(0,0,0,0.75);
    position: relative;
    z-index: 5;

}
.main_nav a{
    text-decoration: none;
    color: var(--main-color);
}