.register h1{
    position: relative;
    display: inline-block;
}
.register h1::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
}