:root {
    --main-color: #706fa7;
    --sec-color: #eef0fd;
    --main-color-3: #6C7383;
    --main-color-2: #EFF1FD;
    --sec-color-2: #F3A867;
    --back-color: #F4F6FF;
    --sec-color-3: #A9ABD3;
}