@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.bg-main-content {
  background-color: var(--main-color-2);
}

.cursr {
  cursor: pointer;
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-sec {
  background-color: var(--sec-color);
}

.bg-special {
  background-color: #a5a8cc;
}

.text-grey {
  color: #b9b9b9;
}

.add-btn {
  background-color: #B5C3FC;
}

.delete-btn {
  background-color: #F3797E;
}

.approve-btn {
  background-color: #A9ABD3;
}


.add-btn,
.approve-btn,
.delete-btn {
  color: #fff;
  border: 0;
  border-radius: 5px;
}

.input-transparent {
  background-color: transparent;
  border: none;
  outline: none;
}

.border-b-main {
  border-bottom: 2px solid var(--main-color);
}

thead {
  border-radius: 50px;
  color: #fff;
}

table {
  white-space: nowrap;
  font-family: 'Nunito', sans-serif;
  border-radius: 10px;
  overflow: hidden;
}

tbody {
  background-color: #F8F8FD;
}

td {
  padding: 10px 20px;
}

.option-dropdown {
  background-color: #A9ABD3 !important;
  color: #fff !important;
}

.my-big {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.options {
  margin-bottom: 30px;
}

h2 {
  font-family: 'Nunito', sans-serif;
}

.overflow-hidden h2 {
  font-weight: bold;
  margin-bottom: 16px !important;
}

.btn-cancel{
  color: #fff !important;
  background-color: #848484 !important;
}
.btn-submit{
  color: #fff !important;
  background-color: var(--main-color) !important;
}